/* card-docoration */

:root{
    --shadow:  0px 0px 4px 2px var(--light-gray);
}

.card {
    background: white;
    border-radius : 10px;
    width: 190px;
    height: 250px;
    color:var(--blue);
    box-shadow:var(--shadow)
}  
    


.song-bg {
    width: inherit;
    height: 130px;
    background-size: 120%;
    border-radius: 10px 10px 0 0 ;
    transition: background-size 1s, background-position 1s;
}

.song-bg:hover {
    background-size: 130%;
}


.info {
    margin-left: 20px; 
}
.song-name{
    font-family: var(--main-font);
    font-size:20px ;
    letter-spacing: 0.5px;
    line-height: 2px;
    margin-top: 30px;
    
}
.author{
    font-family: Calibri;
    font-size: 15px;
    letter-spacing: 0.5px;

}

#song-1 .song-bg{
    background-image: url("../images/song-1-bg.jpg");
}

#song-2 .song-bg{
    background-image: url("../images/song-2-bg.jpg");
}

#song-3 .song-bg{
    background-image: url("../images/song-3-bg.jpg");
}

#song-4 .song-bg{
    background-image: url("../images/song-4-bg.jpg");
}

#song-5 .song-bg{
    background-image: url("../images/song-5-bg.jpg");
}

#song-6 .song-bg{
    background-image: url("../images/song-6-bg.jpg");
}

#song-7 .song-bg{
    background-image: url("../images/song-7-bg.jpg");
}

#song-8 .song-bg{
    background-image: url("../images/song-8-bg.jpg");
}
#song-9 .song-bg{
    background-image: url("../images/song-9-bg.jpg");
}
#song-10 .song-bg{
    background-image: url("../images/song-10-bg.jpg");
}
#song-11 .song-bg{
    background-image: url("../images/song-11-bg.jpg");
}
#song-12 .song-bg{
    background-image: url("../images/song-12-bg.jpg");
}

input[type="checkbox"]{
    display:none;

}


/* end-of-card-decoration */


/* layout */

main {
    position: relative;
    top: 120px;
    display: grid;
    grid-template:
    "p c"
    "f c"
    "s c"
    "q c"
    "a c";
    grid-template-columns: 300px auto;
    padding-bottom: 90px;
}

body {
    background-color: var(--white-blue);
}

iframe {
    box-shadow: var(--shadow);
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 90px;
}

[for="pro"] {
    grid-area: p;
    margin: 10px 0 0 0;
}

[for="free"] {
    grid-area: f;
    margin: 50px 0 0 0;
}

[for="quiet"] {
    grid-area: q;
    margin: 90px 0 0 0;
}

[for="stormy"] {
    grid-area: s;
    margin: 130px 0 0 0;

}

[for="all"] {
    grid-area: a;
    margin: 170px 0 0 0;
}

#cards {
    grid-area: c;
    display: flex;
    flex-wrap: wrap;

}

.card {
    margin: 50px;
    display: none;
    user-select: none;
}

label {
    position: fixed;
    font-family: var(--main-font);
    color: var(--blue);
    left: 100px;
    top: 300px;
    user-select: none;
}

[id^="line"] {
    width: 2px;
    height: 60vh;
    background: var(--blue);
}

#line-1 {
    position: fixed;
    top: 20vh;
    left: 250px;
}
#line-2 {
    display: none;
}

input#pro:checked ~ #cards .pro{
    display: block;
}
input:checked + label {
    font-weight:1000;
}

input:checked + label::after {
    content: ' >';
}

input#free:checked ~ #cards .free{
    display: block;
}

input#quiet:checked ~ #cards .quiet{
    display: block;
}
input#stormy:checked ~ #cards .stormy{
    display: block;
}

input#all:checked ~ #cards .card{
    display: block;
}

#icon-filter{
    color:var(--blue);
    margin-left:100px;
    margin-top:140px;
    position: fixed;
}
