* {
    box-sizing: border-box;
}
.tool-bar img:hover {
    background-color: rgb(246, 246, 246);
}

.tool-bar input:checked + label img, .tool-bar img:focus{
    background-color: rgb(226, 226, 226);
}

.tool-bar img {
    transition: all .2s;
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
    height: var(--icon-size);
    width: var(--icon-size);
}


input[type="color"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.color-label {
     position: absolute;
    bottom: 0;
    left: 0;
    height: calc(var(--icon-size) / 7);
    width: calc(var(--icon-size) * 0.8);
    margin-left: calc(var(--icon-size) * 0.15);
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgb(126, 126, 126);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] ~ label img{
    transition: opacity .1s;
}

.tool-bar {
    display: flex;
    height: 100px;
    background-color: rgb(250, 250, 250);
    align-items: center;
}

.tool-bar > div {
    display: flex;
    padding: 0 50px;
    height: max-content;    
    border-right: .1px solid rgb(211, 211, 211);
    justify-content: space-between;

}

.tool-bar > div > * {
    margin-left: 10px;
}

p span:last-of-type::after {
    border-right: 1.5px solid black; 
    animation: light .7s linear 0s infinite alternate both;
    content: " ";
}

.rtl-cursor {
    border-left: 1.5px solid black;
}

@keyframes light {
    0% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
    100% {opacity: 1;}
}
